.
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #252432;
}

.container {
  inset: 4px;
  background: #2d2d39;
  border-radius: 15px;
}

.box {
  position: relative;
  width: 380px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 390px;
  height: 410px;
  border-radius: 14px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.box:hover::after {
  filter: blur(30px);
}

.box:hover::before {
  transform: rotate(90deg) scaleX(1.05) scaleY(.95);
}

.inner-box {
  position: absolute;
  inset: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  color: #fff;
  overflow: hidden;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  transition: 0.5s;
}

.form h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #e81cff;
}

.form input {
  width: 100%;
  padding: 8px 20px;
  outline: none;
  font-size: .9em;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.form input::placeholder {
  color: #999;
}

.form input[type="submit"] {
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  border: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
  transition: 0.5s;
}

.form input[type="submit"]:hover {
  box-shadow: 0 0 5px #e81cff, 0 0 20px #45f3ff;
}

.btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.btns> {
  text-decoration: underline;
  color: rgb(0, 110, 255);
}

.btns a,
.btns span {
  font-size: 14px;
}

.btns span a {
  color: #e81cff;
  font-weight: 600;
  margin-left: 3px;
  text-decoration: none;
}
.